/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
} 

body {
    line-height: 1;
    animation: fadeIn ease 2s;
}

ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
    box-sizing: border-box;
}

.index-body {
    border-top: 12px solid black;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

header div {
    display: flex;
    justify-content: space-around;
    width: 75%;
    margin: 40px 0 20px 0;
}

@keyframes blue-hover {
    0% {background-color: white; color: dodgerblue}
    100% {background-color: dodgerblue; color: white;}
}

header div a {
    text-decoration: none;
    color: black;
    font-size: 14px;
    padding: 10px 20px;
    border-radius: 20px;
}

header div a:hover {
    animation: blue-hover ease 1s;
}

.index-banner {
    background-image: url("../img/jumbo.jpg");
    height: 150px;
    margin: 20px 0 20px 0;
}

.about-top-section {
    margin: 25px 0;
    border-bottom: 1px dashed black;
    padding: 0 0 20px 0;
}

.about-body-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.about-bottom-section {
    margin: 20px 0 30px 0;
}

.learn-more-button {
    border: 2px solid black;
    border-radius: 10px;
    width: 125px;
    text-align: center;
    padding: 8px 15px;
    font-size: 15px;
    margin-bottom: 15px;
}

.info-box {
    width: 48%;
    border-bottom: 1px dashed black;
    margin-bottom: 20px;
}

.info-box p {
    margin-bottom: 10px;
}

.about-banner {
    background-image: url("../img/jumbo-about.png");
    height: 150px;
    margin: 20px 0 20px 0;
}

html, body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-size: 18px;
    margin-bottom: 15px;
    font-family: 'Rubik', sans-serif;
}

p {
    line-height: 1.4;
}

.container {
    width: 800px;
    margin: 0 auto;
}

.top-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 20px;
    border-bottom: 1px dashed black;
}

.top-content .text-container {
    width: 48%;
    padding: 0 1%;
    padding-bottom: 20px;  
}

.middle-content {
    margin-bottom: 20px;
    border-bottom: 1px dashed black;
}

.middle-content h2 {
    padding: 0 2%;
    margin-bottom: 0;
}

.middle-content .boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.middle-content .boxes .box {
    width: 100px;
    height: 100px;
    margin: 20px 2.5%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bottom-content {
    display: flex;
    margin: 0 2% 20px;
    justify-content: space-around;
}

.bottom-content .text-container {
    padding-right: 4%;
}

.bottom-content .text-container:last-child {
    padding-right: 0;
}

.contact-section {
    display: flex;
    flex-direction: column;
}

.contact-section textarea {
    width: 100%;
    height: 300px;
}

.contact-section form {
    display: flex;
    flex-direction: column;
    align-content: space-around;
}

.contact-section form button {
    margin: 20px auto;
    width: 200px;
}

footer {
    width: 100%;
    background: black;
}

footer nav {
    width: 60%;
    display: flex;
    margin: 0 20px;
    justify-content: space-around;
    padding: 20px 2%;
    font-size: 14px;
}

footer nav a {
    color: white;
    text-decoration: none;
}

.box1 {background-color: teal}
.box2 {background-color: gold}
.box3 {background-color: cadetblue}
.box4 {background-color: coral}
.box5 {background-color: crimson}
.box6 {background-color: forestgreen}
.box7 {background-color: darkorchid}
.box8 {background-color: hotpink}
.box9 {background-color: indigo}
.box10 {background-color: dodgerblue}

@media screen and (max-width: 600px){

    body {
        width: auto;
        display: block;
    }
    body header {
        display: block;
        width: 80%;
    }
    body div {
        display: block;
    }

    body div div {
        width: 70%;
    }

    body div section {
        flex-direction: column;
        padding: 0 2.5%;
        width: 57.5%;
    }

}